In [1]:
import pandas as pd

# Load preprocessed dataset
df = pd.read_csv("df_final_preprocessed.csv")
print(df.shape)
df.head()

(30162, 17)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,occupation_mean_hours,workclass_mean_hours
0,3.316630,Private,11.797134,HS-grad,-0.439738,Widowed,Exec-managerial,Not-in-family,White,Female,-0.301013,5.030969,-1.914161,United-States,0,1.208478,-0.351402
1,1.184831,Private,11.851966,7th-8th,-2.400559,Divorced,Machine-op-inspct,Unmarried,White,Female,-0.301013,4.961657,-0.077734,United-States,0,-0.067142,-0.351402
2,0.195067,Private,12.486216,Some-college,-0.047574,Separated,Prof-specialty,Own-child,White,Female,-0.301013,4.961657,-0.077734,United-States,0,0.432312,-0.351402
3,-0.337883,Private,12.287030,HS-grad,-0.439738,Divorced,Other-service,Unmarried,White,Female,-0.301013,4.940408,0.339636,United-States,0,-1.894212,-0.351402
4,-0.033340,Private,11.922396,10th,-1.616231,Separated,Adm-clerical,Unmarried,White,Male,-0.301013,4.940408,-0.077734,United-States,0,-1.009086,-0.351402

In [4]:
# Separate features into categorical and numeric
cat_cols = X.select_dtypes(include=['object']).columns
num_cols = X.select_dtypes(exclude=['object']).columns

# One-hot encode categoricals
X_encoded = pd.get_dummies(X, columns=cat_cols, drop_first=True)

# Updated train-test split with encoded features
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

# Initialize Logistic Regression
log_reg = LogisticRegression(max_iter=1000, class_weight="balanced", random_state=42)

# Train
log_reg.fit(X_train, y_train)

# Predictions
y_pred = log_reg.predict(X_test)

# Evaluation metrics
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8115365489806067
Precision: 0.5839852738150023
Recall: 0.8448735019973369
F1 Score: 0.6906122448979591

Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.80      0.86      4531
           1       0.58      0.84      0.69      1502

    accuracy                           0.81      6033
   macro avg       0.76      0.82      0.78      6033
weighted avg       0.85      0.81      0.82      6033